:root {
  --color-bttn: #1c3863;
  --color-bttn-hover: #3570c8;
  --color-bttn-text: white;
  --color-bttn-text-hover: rgb(167, 221, 254);
  --color-blkqoutepink: rgb(182, 155, 201);
  --textshdw-2px: 2px 2px rgb(98, 19, 114, 0.5);
  --boxshdw-5px: 3px 3px rgb(0, 0, 0, 0.3);
  --color-backgrnd: rgb(191, 202, 248);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* exo-regular - latin */
@font-face {
  font-family: "Exo";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/exo-v20-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/exo-v20-latin-regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/exo-v20-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/exo-v20-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/exo-v20-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/exo-v20-latin-regular.svg#Exo")
      format("svg"); /* Legacy iOS */
}
/* exo-800 - latin */
@font-face {
  font-family: "Exo";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/exo-v20-latin-800.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/exo-v20-latin-800.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/exo-v20-latin-800.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/exo-v20-latin-800.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/exo-v20-latin-800.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/exo-v20-latin-800.svg#Exo")
      format("svg"); /* Legacy iOS */
}

body {
  font-family: Exo;
}

.body_box {
  background-color: var(--color-backgrnd);
  border: 2px solid black;
  width: 1300px;
  height: 800px;
  margin: 0px auto;
  border-radius: 0px 0px 20px 20px;
  border-top: none;
}

header {
  background-color: var(--color-backgrnd);
  width: 1300px;
  padding: 20px;
  margin: 10px auto 0px auto;
  border-radius: 20px 20px 0px 0px;
  border: 2px solid black;
  border-bottom: none;
}

h1 {
  color: #1c3863;
  margin: 0px;
  padding: 0px;
  text-shadow: var(--textshdw-2px);
}

h1 {
  padding: 20px;
  font-size: 40px;
  text-align: left;
}

h2 {
  margin-left: 40px;
  padding-top: 40px;
  font-size: 25px;
  color: rgb(74, 0, 95);
}

.navigation {
  text-align: left;
  margin-left: 20px;
  text-decoration: none;
  color: var(--color-bttn);
  padding: 3px 8px;
  border: 2px solid;
  border-color: black;
  border-radius: 7px;
  text-shadow: var(--textshdw-2px);
}

.navigation:hover {
  background-color: var(--color-bttn-hover);
  color: var(--color-bttn-text);
}

/* every element with href beginning with # set bakckground-color*/

a[href^="#"] {
  background-color: var(--color-bttn);
  color: var(--color-bttn-text);
}

blockquote {
  margin-left: 40px;
  text-align: center;
  background-color: var(--color-blkqoutepink);
  border-radius: 5px;
  padding: 6px;
  box-shadow: var(--boxshdw-5px);
  width: 770px;
  font-size: 15px;
}

.name_age {
  margin: 10px 40px;
  width: 700px;
}

.profile img {
  margin: 10px 40px;
  height: 200px;
  width: 200px;
  border-radius: 10px;
}

ul {
  list-style: none;
  border: 2px solid;
  border-radius: 10px;
  padding: 10px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

ul li::before {
  content: "🔅";
}

article {
  background-color: var(--color-blkqoutepink);
  box-shadow: var(--boxshdw-5px);
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  padding: 10px;
}

button {
  margin-top: 30px;
  padding: 8px 30px;
  cursor: pointer;
  border-radius: 15px;
  border: 1px solid black;
  background-color: var(--color-bttn);
  color: var(--color-bttn-text);
  font-weight: bold;
  text-shadow: var(--textshdw-2px);
  box-shadow: var(--textshdw-2px);
}

button:hover {
  background-color: var(--color-bttn-hover);
  color: var(--color-bttn-text);
  text-shadow: none;
}

.address_h {
  text-align: left;
  border: 2px solid;
  border-radius: 10px;
  width: 150px;
}
